<% @character.each do |pork| %>
  <div>
    <a><%= pork.name %> Lv.<%= pork.level %></a>
  </div>
  <div>
    <p>次のレベルまで <%= @need_exp_for_next_level %>/<%= @need_exp.thresold %></p>
  </div>
  <div>
    <%= pork.description %>
  </div>
<% end %>

<div class="d-flex justify-content-around">
  <%= link_to image_tag("アイコン_貯金箱.png", size: "70x70"), "#" %>
  <%= link_to image_tag("アイコン_読書記録.png", size: "70x70"), "#" %>
  <%= link_to image_tag("アイコン_記録.png", size: "70x70"), study_times_user_path(id: current_user.id) %>
  <%= link_to image_tag("アイコン_本棚.png", size: "70x70"), user_books_path(user_id: current_user.id) %>
</div>
