<div class="row justify-content-center">
  <div class="col-md-6 mx-auto">
    <h1>本棚</h1>
    <div class="py-3 d-grid gap-1 col-4 mx-auto">
      <%= link_to '本を登録する', new_user_book_path, class: "btn btn-pink" %>
    </div>
    <div class="row justify-content-md-center">
      <% @books.each do |book| %>
        <div class="row">
          <div class="col-md-2">
            <%= link_to user_book_path(current_user, book) do %>
              <i class="fas fa-book fa-3x"></i>
            <% end %>
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-6">
                <p><%= book.book_name %></p>
              </div>
              <div class="col-md-3">
                <p><%= book.status %></p>
              </div>
              <div class="col-md-3">
                <p><%= book.total_read_time %>分</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p><%= book.memo %></p>
              </div>
            </div>
          </div>
          <hr>
        </div>
      <% end %>
    </div>


    <ul>
      <% @books.each do |book| %>    
        <li><%= link_to book.id, user_book_path(id: current_user) %></li>
        <li>タイトル：<%= book.book_name %></li>
        <li>ステータス：<%= book.status %></li>
        <li>読書時間：<%= book.total_read_time %></li>
        <li>メモ：<%= book.memo %></li>
      <% end %>
    </ul>
    <%= paginate @books %>

  </div>
</div>