<h1>本棚</h1>
<div class="d-grid gap-2 col-6 mx-auto">
<button class="btn btn-primary" type="button"><%=link_to '本を追加する', new_user_book_path, class:"text-color"%></button>
</div>
<p>
<div class="d-grid gap-2 col-6 mx-auto">
<button class="btn list-btn-primary" type="button"><%=link_to '登録している本一覧', new_user_book_path, class:"text-color"%></button>
</div>
<hr class="linebook">
<ul>
  <% @books.each do |book| %>    
    <li><%= link_to book.id, user_book_path(id: current_user) %></li>
    <li>タイトル：<%= book.book_name %></li>)
    <li>ステータス：<%= book.status %></li>
    <li>読書時間：<%= book.total_read_time %></li>
    <li>メモ：<%= book.memo %></li>
  <% end %>
</ul>
<%= paginate @books %>