<h1>本棚</h1>

<%= link_to '本を登録する', new_book_path %>

<ul>
  <% @books.each do |book| %>
    <li><%= link_to book.id, book %></li>
    <li><%= book.book_name %></li>
    <li><%= book.status %></li>
    <li><%= book.total_read_time %></li>
    <li><%= book.memo %></li>
  <% end %>
</ul>