<div class="row justify-content-center mt-5">
  <div class="row mx-auto">
    <div class="col-6 text-break">
      <h4><%= @book.book_name %></h4>
    </div>
    <div class="col-3">  <%# ステータスによってバッチの色を変更する %>
      <% if @book.status == "未読" %>
        <span class="badge bg-gray">未読</span>
      <% elsif @book.status == "読書中" %>
        <span class="badge bg-pink">読書中</span>
      <% else %>
        <span class="badge bg-navy">読了</span>
      <% end %>
    </div>
    <div class="col-3">
      <p><%= @book.total_read_time_sec.utc.strftime('%R') %></p>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-10">
      <p>ISBM：<%= @book.isbn %></p>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-10">
      <p>登録日時：<%= @book.created_at.strftime("%Y/%m/%d %R") %></p>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-10">
      <p>更新日時：<%= @book.updated_at.strftime("%Y/%m/%d %R") %></p>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-10 text-break">
      <p>メモ：<%= @book.memo %></p>
    </div>
  </div>
  <div class="row justify-content-center">
    <% if user_signed_in? && @user.id == current_user.id %>
      <div class="py-3 mb-5 d-grid gap-1 col-2">
        <%= link_to "変更", edit_user_book_path(@book), class: "btn btn-pink"%>
      </div>
      <div class="py-3 mb-5 d-grid gap-1 col-2">
        <button type="button" class="btn btn-gray" data-bs-toggle="modal" data-bs-target="#exampleModal">
          削除
        </button>
      </div>
      <%# モーダルここから %>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>本当に削除しますか？</p>
            </div>
            <div class="modal-footer">
              <%= link_to "はい", user_book_path(current_user, @book), method: :delete, class: "btn btn-pink" %>
              <button type="button" class="btn btn-gray" data-bs-dismiss="modal">いいえ</button>
            </div>
          </div>
        </div>
      </div>
      <%# モーダルここまで %>
      <div class="py-3 mb-5 d-grid gap-1 col-2">
        <%= link_to "戻る", user_books_path, class: "btn btn-navy"%>
      </div>
    <% end %>
  </div>
</div>