<p>boo!boo!bookは読書習慣を助けるアプリです。たくさん読書をしてぶたさんを育ててみましょう！</p>
<%=  form_with model: @first_registration, url: {controller: 'first_registrations', action: 'create' } do |f| %>
  <%= f.hidden_field :name, value: @pork.name %>
  <%= f.hidden_field :character_type, value: 0 %>
  <%= f.hidden_field :level, value: 1 %>
  <%= f.hidden_field :exp, value: 0 %>
  <%= f.hidden_field :description, value: @pork.description %>
  <%= f.hidden_field :photo, value: @pork.photo %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <p>書籍を登録</p>
  <div class="">
    <%= f.label :book_name, "書籍名" %>
    <%= f.text_field :book_name %>
  </div>
  <div class="">
    <%= f.label :isbn, "isbnコード（任意）" %>
    <%= f.text_field :isbn %>
  </div>
  <div class="">
  </div>
  <%= f.hidden_field :status, value: "読書中" %>
  <div class="">
    <%= f.label :memo, "メモ" %>
    <%= f.text_field :memo %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "さあはじめよう！" %>
<% end %>
