<div>
  <p>読書中の書籍：
    <%= @book.book_name %>
    <%= link_to "（変更する）", user_books_path %>
  </p>
  <p>この書籍の累計読書時間：<%= @book.total_read_time %>分</p>
</div>

<div>
  <p>育成中のキャラクター：<%= @character.name %></p>
  <p>累計経験値：<%= @character.exp %></p>
</div>

<hr>

<%= form_with(model: @study_time, url: {controller: 'study_times', action: 'create', local: true }) do |f| %>
<div class="row">
  <div>
    <%= f.datetime_field :study_date, selected: Date.today %>日
  </div>
  <div>
    <%= f.number_field :study_time, value: "0", min: 1, max: 600, id: "value" %>分
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :book_id, value: @book.id %>
  </div>
</div>
  <%= f.submit "登録", class: "btn btn-pink" %>
<% end %>
